
.motsanpham{
  float: left !important;
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .motsanpham{
    width: 100%;
    /*margin-left: auto!important;*/
    /*margin-right: auto!important;*/
    float: none!important;

  }

  .tieude-section{
    background: url("../images/bg-tieude-small.png") no-repeat;
  }


}


@media screen and (min-width: 451px) and (max-width: 699px) {
    .products-list  {
        display: inherit!important;
    }
  .motsanpham{
    width: 50%;
    float: left!important;
  }
}



@media screen and (min-width: 700px) and (max-width: 1199px) {
  .motsanpham{
    width: 33.3333%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 3000px) {
  .motsanpham{
    width: 20%;
  }
  .anhquangcao{
    display: unset;
  }
}




@media screen and (min-width: 100px) and (max-width: 767px) {

  .row.thongtinkhachhang .text-justify{
    border: 1px solid #ddd;
    max-width: 320px;
    margin: 40px auto!important;
    float: none;
    clear: both;
    padding: 20px;

  }
  .row.thongtinkhachhang div:first-child{
    margin-bottom: 30px!important;
  }

  search-div{
    position: relative;
    width: 200px;
    float: none;
    margin: 5px auto;
}

.search-div i{
    position: absolute;
    right: 19px!important;
    font-size: 18px;
    color: #999;
    bottom: 17px!important;
    cursor: pointer;
}



  .serach-bar{
    background: white!important;

  }

  .hotline{
    /*display: none!important;*/
  }

  .search-div{

    padding: 10px;
  }

}


@media screen and (min-width: 100px) and (max-width: 325px) {

}

@media screen and (min-width: 326px) and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
.navbar-brand img{
    /*height: 50px;*/
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) and (max-width: 1599px) {

}

@media screen and (min-width: 1600px) and (max-width: 3000px) {

}

@media screen and (min-width: 10px) and (max-width: 1200px) {
  .tieude-section .middle{
    display: none;
  }
}

@media screen and (min-width: 10px) and (max-width: 991px) {
  .tieude-section .middle{
    display: none;
  }

   .div-video{
    padding-right: 2px!important;
  }

  .div-anh{
    padding-left: 2px!important;
  }

}

@media screen and (min-width: 10px) and (max-width: 1200px) {
.navbar-brand img{
    /*height: 50px!important;*/
  }
}



@media screen and (min-width: 992px) and (max-width: 3000px) {
  .anhvavideo{
    float: left;
    width: 30%;
    padding-left: 0!important;
  }

  .main-slide-wrapper .slide{
    float: left;
    width: 70%;
    padding-right: 5px!important;

  }

  .div-anh{
    margin-top: 2px;
  }

}

@media screen and (min-width: 10px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 3000px) {
   .serach-bar{
    /*position: absolute;*/
   /* top: 10px;
    right: 40px;*/
}


.div-header .container{
    position: relative;
}

}
