@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');

html, body {
  font-family: 'Roboto', sans-serif !important;
  line-height: 1.5;
  font-size: 15px;
}
@font-face {
	font-family: 'myriad_pro_regular';
	src: url('../fonts/myriad-pro-regular');
}
.btn-muangay {
    background: #3498DB !important;
    float: left;
    &:hover {
        background:#e74c3c !important;
    }
}
.pad-left-right-0 {
	padding-left: 0;
	padding-right: 0;
}
.pad-left-0 {
	padding-left: 0px;
}
pad-right-0 {
	padding-right: 0px;
}

.choose-color {
	#select-color {
		li{
			width: 25px;
		    height: 25px;
		    border-radius: 50%;
		    float: left;
		    list-style: none;
		    margin-right: 10px;
		    cursor: pointer;
		    font-size: 13px;
    		line-height: 24px;
		}
		.active {
			border: 2px solid red;
		}
	}
	.price_other{
        border: 2px solid #ddd;
        width: 80px !important;
        border-radius: 5% !important;
        text-align: center;
        background: #EA954A;
		color: #fff;
		background: #7f8c8d;
        &.active{
            border: 2px solid red;
            border-radius: 5% !important;
            text-align: center;
            background: #c0392b;
        }
    }
} 

.drag-wrapper .thing {
    position: fixed;
    margin: 0px;
    top: 40%;
    left: -48%;
    cursor: pointer;
}
.drag-wrapper .thing .content {
    position: fixed;
    top: 25% !important;
    right: 20px;
}
@media(max-width: 991px) {
    .drag-wrapper .thing {
	    top: 35%;
    	left: 0;
    }
}