section#list-post-page {
    .sidebar .heading {
        background: #2196f3;
        margin-bottom: 20px;
        p {
            color: #fff;
            display: inline-block;
            padding-top: 8px;
            padding-bottom: 8px;
            position: relative;
            margin: 0;
            width: 100%;
            text-align: center;
        }
    }
    .list-post {
        .heading {
            border-bottom: 2px solid #2196f3;
            p {
                background: #2196f3;
                color: #fff;
                display: inline-block;
                position: relative;
                margin: 0;
                padding: 8px 76px 8px 15px;
                &:after {
                    background: 0 0;
                    border-top: 36px solid transparent;
                    border-left: 25px solid #2196f3;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 2px;
                    left: 100%;
                }
            }
        }
        .content {
            .row-post {
                padding: 15px;
            }
            hr {
                border: 0;
                border-bottom: 1px dashed #f00;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .row-post .col-right {
                .title {
                    &:hover {
                        color: #2196F3;
                    }
                    margin-top: 0px;
                    font-size: 18px;
                    text-transform: uppercase;
                }
                .xem-tiep {
                    color: #2196F3;
                }
            }
        }
        .paginate {
            margin-top: 10px;
            .page-numbers {
                background-color: #6FB7E9;
                border-radius: 3px;
                cursor: pointer;
                padding: 12px;
                color: #fff;
                &.current {
                    background-color: #3C8DC5;
                }
            }
        }
    }
}

.btn-tragop {
    border: none;
}
.sanpham-big {
    .two-button {
        margin-top: 4px;
    }
}
