section#news {
    font-family: 'Segoe UI';
    font-size: 14px;
    ol.breadcrumb {
        background-color: initial;
        color: #2980b9;
        padding-left: 0;
    }
    ol.breadcrumb a {
        color: #2980b9;
        font-weight: bold;
    }
    .form-group.flat-form {
        input,
        textarea {
            border-radius: 0;
            box-shadow: none;
        }
    }
    .main-content {
        &>.heading {
            border-bottom: 2px solid #2196f3;
            p {
                background: #2196f3;
                color: #fff;
                display: inline-block;
                padding-left: 15px;
                padding-right: 76px;
                padding-top: 8px;
                padding-bottom: 8px;
                position: relative;
                margin: 0;
                &:after {
                    background: transparent;
                    border-top: 36px solid transparent;
                    border-left: 25px solid #2196f3;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 1px;
                    left: 100%;
                }
            }
        }
        .post-content {
            .post-heading {
                font-style: bold;
                font-size: 15px;
                text-transform: uppercase;
            }
            .post-date {
                color: #bdc3c7;
                font-size: 13px;
            }
            .facebook-container {
                margin-bottom: 35px;
            }
            .post-content-main {
                img {
                    /*width: 100%;*/
                }
                .table {
                    width: 100%;
                }
            }
        }
        .comment {
            .heading {
                border-bottom: 1px solid #bdc3c7;
                p {
                    color: #e67e22;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
            .user-comment {
                textarea {
                    height: 96px;
                }
            }
            .user-email,
            .user-name {
                input {
                    margin-bottom: 10px;
                }
            }
            .user-rating {
                i.active {
                    &:before {
                        font-family: FontAwesome;
                        content: '\f005';
                        color: #f1c40f;
                    }
                }
                i.inactive {
                    &:before {
                        font-family: FontAwesome;
                        content: "\f006";
                        color: #f1c40f;
                    }
                }
            }
            .user-submit-button {
                button {
                    background: #3498db;
                    box-shadow: none;
                    padding: 5px 34px;
                    margin-top: 20px;
                }
            }
        }
    }
    // Sidebar
    .sidebar {
        .heading {
            background: #2196f3;
            margin-bottom: 20px;
            p {
                color: #fff;
                display: inline-block;
                padding-top: 8px;
                padding-bottom: 8px;
                position: relative;
                margin: 0;
                width: 100%;
                text-align: center;
            }
        }
        .post-container {
            .post {
                margin-bottom: 20px;
                p {
                    font-weight: bold;
                    font-size: 13px;
                    a {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#detailPage {
    .detail-product {
        .review {
            position: relative;
            .slider-product {
                .left {
                    left: 15px !important;
                }
                .right {
                    right: 15px !important;
                }
            }
        }
        .relative-product {
            .slider-product {
                position: relative;
                .left {
                    left: 15px !important;
                    z-index: 3;
                }
                .right {
                    right: 15px !important;
                }
            }
        }
        .relative-product {
        	.slider-product {
        		.carousel-inner {
        			// margin:0 30px;
        		}
        	}
        	.products {
        		padding-left: 0;
        	}
        }
    }
}
