@media screen and (max-width: 768px) {
	#list-post-page {
		.list-post {
			margin-bottom: 30px;
			.col-left {
				padding-left: 0px;
				padding-right: 0px;
			}
			.col-right {
				padding-left: 0px;
				padding-right: 0px;
			}
			.xem-tiep {
				margin-right: 0;
			}
		}
	}
}