@media screen and (max-width: 767px) {
	.searchPage {
		.container_cat {
			.noidungsection {
				.list_product {
					.two-button {
						height: auto;
						text-align: center;
						.btn-muangay {
							float: none;
						}
						.btn-tragop {
							float: none;
							margin-top: 5px;
						}
					}
				}
			}
		}
	}
}