@media screen and (max-width: 767px) {
    #tragopPage{
        .title-common {
            font-size: 17px;
        }
        .product-tragop {
            .image-product {
                width: 100%;
            }
            .name-product {
                h4 {
                    font-size: 32px;
                }
            }
            .guarantee-container {
                select {
                    width: 100%;
                }
            }
        }
        .padding-section {
            padding-left: 0;
        }
        .payment-tragop {
            margin-bottom: 20px;
        }
    }  
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    body {
        font-size: 20px;
    }
}   